#mainValue {
    font-family: 'Orbitron', sans-serif;
    /* background-color: rgb(99, 161, 219); */
    /* border: solid 1px black; */
    margin: 3% 3%;
    padding-top: 50px;
    text-align: right;
    grid-column-start: 1; 
    grid-column-end: 5; 
    grid-row-start: 1; 
    grid-row-end: 1; 
}