.operators {
    background-color: rgb(238, 145, 69);
    /* border: solid 1px black;  */
    font-size: $button-fontsize;
    margin: 10% 10%;
    padding-top: 25%; 
}
.operators:hover{
    cursor: pointer;
}