// Base css settings for the entire page
html body {
    height: 100%;
    margin: 0px;
    padding: 0px;   
    background: #D1913C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD194, #D1913C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD194, #D1913C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // font-family: 'Teko', sans-serif;
    font-size: 100px;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}
